<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT HANUMAN</title>
    <style>
        h3{
            color: rgb(165, 42, 42);
        }
    </style>
</head>
<body>
    <a href="{% url 'home' %}">HOME</a>
    <center>
        <h1>LORD HANUMAN</h1>
    <img src="https://rukminim1.flixcart.com/image/416/416/kdukgi80-0/poster/q/x/a/large-24wpwl103-lord-hanuman-waterproof-vinyl-sticker-poster-original-imafunvjv4qqybxy.jpeg?q=70" alt="HANUMAN">
</center>
    <h3>Lord Hanuman or Hanumanji is known by many names as Anjaneya, Anjaniputra or Anjaneyudu or Hanumanthudu (Telugu),
         Bajarangabali, Kesari Nandan (“son of Kesari”), Hanumanta, Mahaveer, Maruti, Pavanputra etc.
          The name ‘Anjaneya’ was derived from his mother’s name ‘Anjana’, a female vanara. It is also believed that
           Hanuman is the incarnation of Lord Shiva. So Hanuman is known as ‘Maharudhra’ too. Some believe that
            Hanuman is the son of ‘Vayu’, the God of wind, so is also known by the name ‘Pavan Putra’.

        Marutinandan (“son of Marut”) or Pavanputra (“son of wind”); these names are derived from the
         various names of Vayu, the deity who carried Hanuman to Anjana’s womb. Bajrang Bali, “the strong one (bali),
          who had limbs (anga) as hard as a vajra (bajra)”; this name is widely used in rural North India.</h3>
</body>
</html>