<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hanuman family</title>
</head>
<body>
    
    <a href="{% url 'home' %}">HOME</a>

    <center>
        <h1>LORD HANUMAN FAMILY</h1>
        <img src="https://1.bp.blogspot.com/-u99jEYG5fWg/U3ImCa_zGRI/AAAAAAAAPkw/mogQ4zgZ5M4/s1600/anjeneya-1.jpg" alt="Lord Hanuman Mother">
        
    </center>
    <h3>
        <p>Hinduism is full of the most intriguing stories, there are variations in spelling and retelling of events. Even if they are just stories they all have their own charm, and more than anything our next generation are willing to learn…The Jai Jais Way!

            We have a blog about how hanuman was born, “How did Hanuman get a monkey face”, but who is his family? He is known as Pavan Sutra (Son of the wind god).  He was actually born to Goddess Anajana (a celestial nymph), and Lord Kesari (a powerful Vanara). Hanuman is also son of the wind-god Vayu, who in several stories played a direct role in Hanuman's birth. Hanuman is mentioned in several other texts, such as the epic Mahabharata and the various Puranas.
            
            In the book titled Brahmandapuran, some things have been told about Hanuman’s family, which are not mentioned in other places. Kesari had sons, the names of the five brothers of Hanuman are as follows: Matiman, Shruthiman, Ketuuman, Gatimaan and Dhritman. All these children are also mentioned in this scriptures. In the Mahabharata period, Pandu son and Balchali Bhima have also been called as Bharata of Hanuman.
            
            Although Hanuman was Brahmchari he had a son called Makardhwaja.  In the epic Ramayana after meeting Sita, Hanuman had set Ravana’s kingdom in Lanka on fire, with his tail. Hanuman took a dip in the waters to cool himself down, due to the hear a drop of his perspiration fell into the water, This drop went into the mouth of a giant fish Makara which she then gave birth to Hanuman’s son Makardhwaja.</p>
    </h3>
    <center>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjClG6yfmZ8XlLZkG6ib0Jr3uZlu2TXCyiqw&usqp=CAU" alt="">
    </center>
</body>
</html>